ul li {
  cursor: pointer;
}

li.menuActive {

  span {
    text-decoration: underline;
  }
  background-color: #cdd5dc;
  ul {
    display: block;
    li {
      margin: 2px;
      color: black;
    }
    li:hover{
      color: red;
    }
  }
}

li.menuNoActive ul {
  display: none;
}



