

<div >
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, at autem cum deserunt dicta, error ipsum
    iure nemo perferendis quod recusandae, repellat sapiente ut? Ad adipisci asperiores cumque debitis labore!</p>
  <p>Atque commodi, consequuntur debitis dolores eligendi enim eos exercitationem expedita explicabo fugit itaque nemo
    nisi odit officiis perspiciatis porro praesentium provident quae quia quibusdam repudiandae sequi sint ullam
    velit voluptatem?</p>
  <p>Adipisci aut ut voluptas. Aliquam libero maxime officiis? A, accusamus delectus esse eveniet ex explicabo fuga
    iusto, nemo perspiciatis repellat, repudiandae sed sint sunt. Animi inventore nulla sapiente sunt tenetur?</p>
  <p>Aliquid delectus deserunt distinctio dolores, ducimus earum est explicabo iure magnam molestias, nesciunt
    perspiciatis ut voluptate! Alias, aliquid delectus esse est exercitationem hic id inventore molestias saepe sunt
    tempore voluptates?</p>
</div>
<button (click)="goBack()">go back</button>
