<div class="LeftPanel column side">
  <ul>
    <li [ngClass]="{menuActive: isActive('Tutorials'), menuNoActive: !isActive('Tutorials')}">
      <span (click)="select('Tutorials');">Tutorials</span>
      <ul>
        <li>Introduction</li>
        <li>Header + 2 Columns</li>
        <li>Header + 3 Columns</li>
        <li>Vertical Div containers</li>
        <li>Horizontal Div containers</li>
        <li>Others</li>
      </ul>
    </li>
    <li [ngClass]="{menuActive: isActive('Practice'), menuNoActive: !isActive('Practice')}">
      <span (click)="select('Practice');">Practice</span>
      <ul>
        <li>Layouts</li>
        <li>Vertical displays</li>
        <li>Horizontal displays</li>
      </ul>
  </ul>
</div>

<div class="CentralPanel column middle">
  <p>Welcome to the flebox section.</p>
  <p>Please select one of the options on the left menu panel</p>

</div>

