/* You can add global styles to this file, and also import other style files */

//* { border: 1px solid yellow; }
//* {outline : 1px dotted #cbb72f; }


body {
  background-color: aliceblue;
  color: #303030;
}

//-----------------------
//      Page Layout
//------------------------
.column {
  float: left;
  padding: 5px;
  //border: 1px dotted blue;
  /* Left and right column */

  &.side {
    width: 15%;
  }
  /* Middle column */
  &.middle {
    width: 80%;
  }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
  .column.side, .column.middle {
    width: 100%;
  }
}

//-----------------------
//      Panels decorations
//------------------------
.TopPanel {
  text-align: left;
  padding: 20px;
  background-color: #606060;
  text-decoration-color: white;
  color: white;
  h3 {
    text-decoration: underline;
  }
  display: flex;
  align-items: center;
}

.LeftPanel {
  border-right: 1px solid #606060;
  ul {
    padding-left: 10px;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    li{
      padding-top: 5px;
    }
    li:hover{
      color: red;
    }
  }
}


